@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);

  --color-space-bg: #020202;
  --color-panel-border: rgba(255, 255, 255, 0.08);
  --color-red: #f14949;
  --color-green: #49f149;
  --color-blue: #4949f1;
  --color-yellow: #f1f149;
  --color-pink: #f149f1;
  --color-cyan: #49f1f1;
  --color-orange: #f19d49;
  --color-turquoise: #49f19d;
  --color-purple: #9d49f1;
  --color-coral: #ae4949;
  --color-teal: #49aeae;
  --color-grey: #808080;
  
  --color-system: #49aeae; 
  --color-text-main: #f0f0f0;
  --color-text-dim: #888888;
}

:root {
    --label-opacity: 1;
}

body {
    overflow-x: hidden; 
    min-height: 100vh;
}

/* Fixes for markdown elements in datapad */
.prose h1, .prose h2, .prose h3 {
  font-family: var(--font-space-grotesk);
}
